header img {
  /*background: url('/images/tijana-markovic-3.jpg') no-repeat;*/
  float: left;
  max-height: 100%;
  min-width: 100%;
  /*width: 100%;*/
  margin: 0;
  vertical-align: middle;
}
header > div {
  padding: 0;
}
header{
  /*margin-top: -30px;*/
  z-index: -100;
  overflow: hidden;
  vertical-align: middle;
}
.work-list li {
  list-style-type: none;
}
#work {
  padding-top: 50px;
}
#vita {
  padding-top: 35px;
}
#vita .left {
  text-align: right;
  padding-right: 30px;
  border-right: 1px solid #555;
}
#vita .right {
  text-align: left;
  padding-left: 30px;
}
#vita li{
  list-style-type: none;
}
#showreel {
  margin: 0 auto;
}
#fotografija {
  padding: 0;
}
#naslov {
  display: none;
}

@media screen and (max-width: 48em) {
  #fotografija {
    display: none;
  }
  #naslov {
    display: block;
  }
}
h1 {
  /*color: #de3c4b;*/
  /*color: #820263*/
  /*color: #006c6c;*/
  /*color: #555;*/
  font-family: 'Poiret One', cursive;
}
h2 {
  /*color: #008f8f;*/
  font-family: 'Poiret One', cursive;
}
h3 {
  /*color: #008f8f;*/
  font-family: 'Poiret One', cursive;
}
a{
  /*color: #008f8f;*/
  color: #555;
}
nav strong {
  /*color: #ee6c00*/
  color: #555
}
.overlay {
  background-color: rgba(33, 33, 33, 0.5);
}
.overlay h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  /*???*/
}
body {
  font-family: 'Poiret One', cursive;
}
header h1 {
  font-family: 'Poiret One', cursive;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
#work .theatre {
    border-right: 1px solid #555;
    padding-right: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 2.2em;
}
#work .film {
  text-align: center;
  line-height: 2.2em;
}
#showreel {
  padding: 30px;
}
nav {
  z-index: 5000;
}


/*footer {
  background-color: #008f8f;
}*/
/*input[type="submit"] {
  background-color: #ee6c00;
}*/
/*#work .right h3{
  padding-left: 24px;
}*/
